<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group28.dao.ElectricityUnitDao">

    <select id="getElectricityUnit" resultMap="ElectricityUnitMap1">
        select eut.Type_ID eueut, eut.Max_Consumption eumax, eut.Min_Consumption eumin,
               zc.ZipCode euzc, zc.Block_Name euzcname,
               eu.ElectricityUnitID euid, eu.electricityUnitName euname
        from virtualworld.electricityunit eu, virtualworld.zip_code zc, virtualworld.electricityunittype eut
        where eu.ZipCode = zc.ZipCode
          and eu.ElectricityType = eut.Type_ID
    </select>

    <resultMap id="ElectricityUnitMap1" type="com.group28.pojo.ElectricityUnit" >
        <id property="electricityUnitId" jdbcType="VARCHAR" column= "euid"/>
        <result property="electricityUnitName" jdbcType="VARCHAR" column= "euname"/>
        <association property="zipCode" javaType="com.group28.pojo.ZipCode">
            <id property="zipCode" jdbcType="VARCHAR" column="euzc"/>
            <result property="block_Name" jdbcType="VARCHAR" column="euzcname"/>
        </association>
        <association property="electricityUnitType" javaType="com.group28.pojo.ElectricityUnitType">
            <id property="type_Id" jdbcType="VARCHAR" column="eueut"/>
            <result property="MAX_CONSUMMPTION" jdbcType="INTEGER" column="eumax"/>
            <result property="MIN_CONSUMMPTION" jdbcType="INTEGER" column="eumin"/>
        </association>
    </resultMap>

</mapper>