<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group28.dao.PowerStationDataDao">

    <select id="getAccumulatedProductivityAmount" resultType="int">
        select sum(psd.ProductivityAmount) as AccumulatedProductivityAmount
        from virtualworld.pwoerstation_datastore psd, virtualworld.powerstation ps
        where psd.powerStationId = ps.powerStationId and psd.TimeOfStore like #{Time}"%";
    </select>

</mapper>