<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>homepage</title>
	<link rel="shortcut icon" href="picture/28logo.png">
	<link rel="stylesheet" href="./reset/reset.css">
	<link rel="stylesheet" type="text/css" href="./menu.css">
</head>
<style>

</style>
<body>
<div id='app' class="container">
<header>
	<img src="picture/28logo.png" width=25px height=25px class="logo">
	<img src="picture/download.png" width=25px height=25px class="download">
	<img src="picture/user.png" width=25px height=25px class="user">
	<img src="picture/exit.png" width=25px height=25px class="exit">

	<div class="title">City energy management and Computational Sustainability System</div>
	<div class="user"></div>
</header>
<div class="boxset">
	<div class="box1">
		<div class="box1_header">Power generation and consumption</div>
	</div>


	<div class="box2_header">Map</div>
	<div class="box2">

		<canvas width="829px" height="515px" id="myCanvas"></canvas>


	</div>


	<div class="box3">
		<div class="box3_header">Daily/monthly/annual power consumption</div>
	</div>
	<div class="box4">
		<div class="box4_header">Facilities number and consumption</div>
	</div>
	<div class="box5">
		<div class="box5_header">Add and modify facilities </div>
		<img src="picture/house.png" class="house1">
		<div class='operation'>
			<div class="input"><input :class='{ hasValue: operation.x }' v-model='operation.x' type="text"   /><label >label_X</label></div>
			<div class="input"><input :class='{ hasValue: operation.y }' v-model='operation.y' type="text"  /><label >Label_Y</label></div>
			<div class="input"><input :class='{ hasValue: operation.powerconsumption }' v-model='operation.powerconsumption'  /><label >consumption</label></div>

				<button type="submit"> add </button>
              dsfsdfsdfsdfsdfsdfs
	   </div>

	</div>


	<div class="box6">
		<div class="box6_header">Energymonitor</div>
	</div>

</div>
</div>
</body>

<script type="text/javascript">
	var canvas=document.getElementById('myCanvas');
	var ctx=canvas.getContext('2d');
	function draw(fromx,fromy,tox,toy){
		ctx.moveTo(fromx,fromy);
		ctx.lineTo(tox,toy);
		ctx.stroke();
	}

	function houseposition(x,y){
		var img = new Image()
		img.src = 'picture/house.png'
		img.onload = function(){
			ctx.drawImage(this, x, y, 50, 40)
		}
	}

	houseposition(100,100)
	houseposition(500,100)
	houseposition(300,400)

	setTimeout("draw(125,125,525,125)",1000)
	setTimeout("draw(525,125,325,425)",2000)
	setTimeout("draw(325,425,125,125)",3000)

	var vue = new Vue({
		el: '#app',
		data: {
			active: 'login',
			registerForm: {email: '', Username: '', Password: '', repeat: '',},
			loginForm: {Username: '', Password: '', rememberme: ''},
		},
		methods: {}
	})
</script>

</html>

