<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>homepage</title>
	<link rel="shortcut icon" href="picture/28logo.png">
	<link rel="stylesheet" href="./reset/reset.css">
	<link rel="stylesheet" type="text/css" href="./menu.css">
	<script src="https://cdn.staticfile.org/vue/2.6.9/vue.js"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
	<script src="js/echarts.min.js"></script>
</head>
<style>

</style>
<body>

<header>
	<img src="picture/28logo.png" width=25px height=25px class="logo">
	<img src="picture/download.png" width=25px height=25px class="download">
	<img src="picture/user.png" width=25px height=25px class="user">
	<img src="picture/exit.png" width=25px height=25px class="exit">

	<div class="title">City energy management and Computational Sustainability System</div>
	<div class="user"></div>
</header>
<div class="boxset">
	<div class="box1">
		<div class="box1_header">Power generation and consumption</div>
		<div>
			<echarts id="appp" class = "test"></echarts>
			<script>
				Vue.use(httpVueLoader);
				new Vue({
					el: '#appp',
					components:{
						"echarts":"url:./echarts.vue"
					},
				})
			</script>
		</div>
	</div>


	<div class="box2_header">Map</div>
	<div class="box2">

		<canvas width="829px" height="515px" id="myCanvas"></canvas>


	</div>


	<div class="box3">
		<div class="box3_header">Daily/monthly/annual power consumption</div>
	</div>
	<div class="box4">
		<div class="box4_header">Facilities number and consumption</div>
	</div>
	<div id='app' class="container">
	 <div class="box5">
		 <div class="box5_header">Add and modify facilities </div>
		 <div class="select">
			 <div class="raselect">
			 <img src="picture/house.png" class="house" width="50px"  v-bind:title="messagehouse"><br><br>
			 <input type="radio" name="type" id="house" value="Community" v-model="stype"> Community
			 </div>

			 <div class="hosselect">
				 <img src="picture/hospital.png" class="hospital" width="50px"  v-bind:title="messagehospital"><br><br>
				 <input type="radio" name="type" id="Hospital"  value="Hospital" v-model="stype"> Hospital
			 </div>

			 <div class="schoolselect">
				 <img src="picture/school.png" class="school" width="60px"  v-bind:title="messageschool"><br><br>
				 <input type="radio" name="type" id="school" value="School"  v-model="stype"> School
			 </div>

			 <div class="powerselect">
				 <img src="picture/power%20station.png" class="power" width="60px"  v-bind:title="messagepower"><br><br>
				 <input type="radio"  name="type" id="power" value=" Power station" v-model="stype"> Power station
			 </div>

			 <div class="shopselect">
				 <img src="picture/shopping%20centre.png" class="shop" width="50px"  v-bind:title="messageshop"><br><br>
				 <input type="radio" name="type" id="shop"  value="Shopping centre" v-model="stype"> Shopping <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspcentre
			 </div>


        </div>
		<div class='operation'>

			<div class="input"><label >Name: &nbsp</label><input class="inputname" v-model='name' /></div>

			<div class="input"><label >X-coordinate: &nbsp</label><input class="inputx" v-model='x' type="text"   /></div>

			<div class="input"><label >Y-coordinate: &nbsp</label><input class="inputy" v-model='y' type="text"  /></div>

			Power level:
			<select class="consumption" v-model="con" >



				<option>low-level</option>

				<option>medium-level</option>

				<option>high-level</option>

			</select>

			<button class="add" type="submit" @click="addsubmit"> add </button>
			<button class="reset" type="submit" @click="clearCanvas"> reset </button>
			<button class="done" type="submit"  @click="addword"  > done </button>

	    </div>

	 </div>
	</div>


	<div class="box6">
		<div class="box6_header">Energymonitor</div>
	</div>

</div>

</body>

<script type="text/javascript">

	var canvas=document.getElementById('myCanvas');
	var ctx=canvas.getContext('2d');

	function draw(fromx,fromy,tox,toy){
		ctx.moveTo(fromx,fromy);
		ctx.lineTo(tox,toy);
		ctx.stroke();
	}


	function communityposition(x,y){
		var img = new Image()
		img.src = 'picture/house.png'
		img.onload = function(){
			ctx.drawImage(this,x, y, 50, 40)
		}
	}

	function houspitalposition(x,y){
		var img = new Image()
		img.src = 'picture/hospital.png'
		img.onload = function(){
			ctx.drawImage(this,x, y, 45, 45)
		}
	}
	function shopposition(x,y){
		var img = new Image()
		img.src = 'picture/shopping centre.png'
		img.onload = function(){
			ctx.drawImage(this,x, y, 45, 45)
		}
	}

	function schoolposition(x,y){
		var img = new Image()
		img.src = 'picture/school.png'
		img.onload = function(){
			ctx.drawImage(this,x, y, 45, 45)
		}
	}

	function powerposition(x,y){
		var img = new Image()
		img.src = 'picture/power station.png'
		img.onload = function(){
			ctx.drawImage(this,x, y, 60, 60)
		}
	}

    // function addw(x,y){
	// 	ctx.fillText("text",  x+10, y+50)
	// }


	function isNumber(str){
		var n = Number(str);
		if (!isNaN(n)){
			return true;
		}else{
			return false;
		}
	}


	var vue = new Vue({
		el: '#app',
		data: {
          x:"",y:"",name:"",con:"",stype:"",
			messagehouse:"low-level: medium-level: high-level: ",
			messagehospital:"low-level: medium-level: high-level: ",
			messageschool:"low-level: medium-level: high-level: ",
			messagepower:"low-level: medium-level: high-level: ",
			messageshop:"low-level: medium-level: high-level: ",


		},
		methods: {



	        addword:function(){
				var con=document.getElementById("myCanvas");
				var context=con.getContext("2d");
				context.font = 'italic 12pt Calibri';
				context.fillText(this.name,Number(this.x)+6,Number(this.y)+62)
			},

			addsubmit:function(){
	        	var type = this.stype;
				var x = this.x;
				var y = this.y;
				if(isNumber(x)==false||isNumber(y)==false){alert("please input the number")}
				if(x.trim()==null){alert("please enter the value of x")}
				if(y.trim()==null){alert("please enter the value of y")}
				if(type=="Community"){
					communityposition(x,y)
					this.addword(x,y)
				}
				else if(type=="Shopping centre"){
					shopposition(x,y)
					this.addword(x,y)
				}else if(type=="Hospital"){
					houspitalposition(x,y)
					this.addword(x,y)
				}else if(type=="School"){
					schoolposition(x,y)
					this.addword(x,y)
				}else {
					powerposition(x,y)
					this.addword(x,y)
				}

			},

		    clearCanvas:function (){
		    var c=document.getElementById("myCanvas");
		    var cxt=c.getContext("2d");
		    cxt.clearRect(0,0,c.width,c.height);
	        }


	}
	})

</script>

</html>

